@model List<Category>
<nav class="navbar navbar-dark navbar-expand-lg navbarBackground">
    <div class="container">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                @foreach (var category in Model)
                {
                    <li class="nav-item">
                        <a href="/products/@category.Url" class="nav-link ps-0">@category.CategoryName</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>