@model Product

<div class="card mb-2 mt-2">
    <div class="img-wrap">
        <img src="~/img/@Model.Image" alt="ürün 1" class="card-img-top">
    </div>

    <div class="border-top info-wrap">
        <a sp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="float-end btn btn-light">
            <i class="fa-regular fa-heart"></i>
        </a>
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"
            class="title text-truncate">@Model.ProductName</a>
        <div class="price-wrap">
            <span class="price-discount">@Model.Price</span>
            @* <del class="price">49.999 ₺</del> *@
        </div>
    </div>
</div>
